.app {
  text-align: center;
  background-color: #d26f6f;
  height: 100vmin;
  padding: 40px;
}

.move-area {
  position: relative;
  width: 800px;
  height: 400px;
  border: #ef7e7e 2px solid;
  margin: 0 auto;
}

.move-area img {
  position: absolute;
  height: 100px;
  bottom: 0;
  right: 0;
}

/* .container {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  margin: 0 !important;
}

.container > .btn {
  width: calc(1 / 4 * 100% - (1 - 1 / 4) * 10px);
} */

.moves {
  background-color: #ef7e7e;
  height: 60px;
  width: 800px;
  margin: 20px auto;
  text-align: left;
  padding-left: 20px;
  color: ghostwhite;
  font-size: 25px;
}

.moves span {
  line-height: 60px;
}
